@using System.Web.UI.WebControls
@using SMSystem.Resources
@model SMSystem.ViewModel.UserViewModel.LoginViewModel


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Log In</title>
    <!-- Favicon-->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->
    <link href="~/plugin/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugin/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!--Toastr-->
    <link href="~/Content/toastr.css" rel="stylesheet" />

    

    <!--scripts-->    
    
    <!--Jquery-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script> 

    <!--Ajax.beginForm-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 

    <script>
        function SuccessMessage(result) {
            console.log(result);
            if (result === "False") {
                toastr["error"]("Wrong Username and password!!");
                //var p = $(".card").delay(3000).css("background-color", "red");
            }  
        }

        function BeginProgress() {
            console.log("start");
        }

        function CompletedProgress() {
            console.log("stop");
        }


    </script>

</head>

<body class="login-page">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>@LayoutResource.Project_Name</b></a>
            <small>@LayoutResource.Sub_Name</small>
        </div>
        <div class="card">
            
            <div class="body">
                @using (Ajax.BeginForm("Login", "User", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "SuccessMessage",
                    OnBegin = "BeginProgress",
                    OnComplete = "CompletedProgress"

                }, new {@id = "sign_in"}))
                {

                    <div class="msg">Sign in to start your session</div>

                    //@Html.ValidationSummary()
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            @*<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>*@
                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control", @placeholder = Html.DisplayNameFor(model => model.UserName), type = "text", required = "required"})
                        </div>
                        @Html.ValidationMessageFor(model => model.UserName, null, new {@class = "text-danger"})


                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            @*<input type="password" class="form-control" name="password" placeholder="Password" required>*@
                            @Html.TextBoxFor(model => model.PasswordHash, new {@class = "form-control", @placeholder = Html.DisplayNameFor(model => model.PasswordHash), type = "password", required = "required"})
                        </div>
                        @Html.ValidationMessageFor(model => model.PasswordHash, null, new {@class = "text-danger"})


                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            @Html.ActionLink("Register Now!", "RegisterNow", "User")
                        </div>
                        <div class="col-xs-6 align-right">
                            @Html.ActionLink("Forgot Password?", "FogetPassword", "User")
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>

 
    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Scripts/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugin/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->

    @*<script src="~/Scripts/jquery.validate.js"></script>*@

    <!-- Custom Js -->
    <script src="~/Scripts/site/admin.js"></script>
    <script src="~/Scripts/site/pages/examples/sign-in.js"></script>

    <!--Toastr Js-->
    <script src="~/Scripts/toastr.js"></script>



</body>
</html>
